In [29]:
import pandas as pd
import numpy as np
import statistics as stats
import matplotlib.pyplot as plt
import seaborn as sns
import math
import sklearn as sk
import statsmodels.api as sm
from sklearn import linear_model 
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse, r2_score, mean_absolute_error
from scipy import stats
from scipy.stats import boxcox
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.datasets import make_classification
from sklearn.metrics import roc_auc_score, roc_curve, auc
from sklearn.metrics import accuracy_score
pd.set_option('display.max_columns', None)
from imblearn.over_sampling import SMOTE as smote
from imblearn.under_sampling import TomekLinks

In [2]:
churnData = pd.read_csv('C:/Users/ASUS/Desktop/Hector/week11/lab-handling-data-imbalance-classification/files_for_lab/Customer-Churn.csv')

In [3]:
churnData.columns=churnData.columns.str.lower().str.replace(' ', '_')
churnData.isna().sum()

gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [4]:
churnData.dtypes

gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [5]:
churnData.head()

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,monthlycharges,totalcharges,churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [6]:
churnData['totalcharges'] = pd.to_numeric(churnData['totalcharges'], errors = 'coerce')

In [7]:
churnData = churnData.dropna()

In [8]:
scaled = churnData[['tenure', 'seniorcitizen', 'monthlycharges', 'totalcharges']]

In [9]:
scaled = pd.DataFrame(StandardScaler().fit_transform(scaled))

In [10]:
categorical = churnData.select_dtypes(include='object')

In [11]:
categorical = pd.DataFrame(OneHotEncoder(drop='first').fit_transform(categorical).toarray())

In [12]:
final = pd.concat([scaled, categorical], axis = 1)

In [13]:
y = churnData['churn']
x = scaled
x_train, x_test, y_train, y_test= train_test_split(x , y , test_size=.2)

In [14]:
lr= LogisticRegression()
lr.fit(x_train, y_train)
prediction=lr.predict(x_test)
prediction

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [15]:
accuracy_score(y_test, prediction)

0.7896233120113717

In [ ]:
# up-sampling

In [17]:
sm = smote(random_state=42)
x_res, y_res = sm.fit_resample(x, y)

In [20]:
x_res_train, x_res_test, y_res_train, y_res_test= train_test_split(x_res , y_res , test_size=.2)

In [21]:
lr= LogisticRegression()
lr.fit(x_res_train, y_res_train)
upper=lr.predict(x_res_test)
upper

array(['No', 'No', 'No', ..., 'Yes', 'No', 'Yes'], dtype=object)

In [22]:
accuracy_score(y_res_test, upper)

0.7352371732817038

In [ ]:
#downsampling

In [23]:
tl = TomekLinks()
x_und, y_und = tl.fit_resample(x, y)

In [26]:
x_und_train, x_und_test, y_und_train, y_und_test= train_test_split(x_und , y_und , test_size=.2)
lr= LogisticRegression()
lr.fit(x_und_train, y_und_train)
under=lr.predict(x_und_test)
under
accuracy_score(y_und_test, under)

0.781441717791411